@{
    ViewBag.Title = "AddCustomerVehicle";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@model Tuple<FuelCardSystemEntities.Models.Customer_Vehicle, List<FuelCardSystemEntities.Models.WeekDays>, FuelCardSystemEntities.Models.Lnk_CustomerVehicle_Account>
@using FuelCardSystemMVC.Library
@using FuelCardSystemBAL
<link rel="stylesheet" href="~/Content/plugins/jQueryTimeRange/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
<link rel="stylesheet" href="~/Content/plugins/jQueryTimeRange/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />
@if (FuelCardSystemMVC.Library.UserAuth.UserContext.Identity.roles[0] == "Admin")
{
@section header{
    <section class="content-header">
        <h1><i class="fa fa-truck"></i><span class="margin">@(Model.Item1 != null ? (Model.Item1.CustomerVehicleId > 0 ? "Edit Vehicle Info..." : "Add Vehicle Info...") : "Add Vehicle Info")</span><small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Customer")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="@Url.Action("CustomerVehicleList", "Customer", new { custid = @ViewBag.custid })">List of Vehicles</a></li>
            <li class="active">@(Model.Item1 != null ? (Model.Item1.CustomerVehicleId > 0 ? "Edit Vehicle Info..." : "Add Vehicle Info...") : "Add Vehicle Info")</li>
        </ol>
    </section>
}
<div class="row">
    @if (ViewBag != null)
    {
        if (ViewBag.msg == _AppContext.Messages.Success)
        {
        <div class="col-sm-12">
            <div class="alert alert-success">
                <h4><i class="icon fa fa-check"></i>Successfully saved.</h4>
            </div>
        </div>
        }
        if (ViewBag.msg == _AppContext.Messages.Error)
        {
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h4><i class="icon fa fa-ban"></i>Error occurred.</h4>
            </div>
        </div>
        }
        if (ViewBag.msg == _AppContext.Messages.NotExist)
        {
        <div class="callout callout-danger">
            <h4><i class="icon fa fa-ban"></i>No Accounts!</h4>
            <p>There are no accounts associated with the customer. Please assign account to customer before assigning vehicle to customer.</p>
        </div>
        }
        else
        {
        <div class="col-sm-12">
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@(Model != null ? (Model.Item1.CustomerVehicleId > 0 ? "Edit Vehicle Info..." : "Add Vehicle Info...") : "Add Vehicle Info")</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>@* /.box-tools *@
                </div>@* /.box-header *@
                <div class="overlay" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                @* form start *@
                @using (Html.BeginForm("AddCustomerVehicle", "Customer", FormMethod.Post, new { @id = "AddCustomerVehicleForm", @role = "form" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">Make</label>
                            @if (Model.Item1.CustomerVehicleId > 0)
                            {
                                <p>@AdminBAL.GetVehicleNameById(Model.Item1.Vehicle_Id)</p>
                                @Html.HiddenFor(x => x.Item1.Vehicle_Id)
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.Item1.Vehicle_Id, (SelectList)ViewBag.vehicles, new { @class = "form-control", @onchange = "javascript:GetModels(this.value);" })
                            }
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            @if (Model.Item1.CustomerVehicleId > 0)
                            {
                                <p>@AdminBAL.GetVehicleModelById(Model.Item1.VehicleModel_Id)</p>
                                @Html.HiddenFor(x => x.Item1.VehicleModel_Id)
                            }
                            else
                            {
                                <select id="Item1_VehicleModel_Id" name="Item1.VehicleModel_Id" class="form-control" onchange="javascript:GetCapacity(this);">
                                    <option value="">Please Select Model...</option>
                                </select>
                            }
                        </div>
                        <div class="form-group">
                            <label>Vehicle Registration Number</label>
                            @Html.TextBoxFor(x => x.Item1.VehicleRegNo, new { @class = "form-control" })
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Tank Capacity (Litres)</label>
                                    @Html.TextBoxFor(x => x.Item1.TankCapacity, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Fuel Type</label>
                                    @Html.DropDownListFor(x => x.Item1.ProductID, (SelectList)ViewBag.fueltype, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="box box-solid box-info">
                                    <div class="box-header">
                                        <h3 class="box-title">Days to fuel</h3>
                                    </div>
                                    <div class="box-body">
                                        <table id="daysTbl" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">
                                                        <input type="checkbox" id="selectAll" /></th>
                                                    <th>Day</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var itm in Model.Item2)
                                                {
                                                    <tr>
                                                        <td style="text-align: center;">
                                                            <input type="checkbox" name="chk" value="@itm.WeekdayName" id="@itm.Day_Id" class="check" @(itm.IsSelected == true ? "checked='checked'" : "") />
                                                        </td>
                                                        <td>@itm.WeekdayName</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Start time</label>
                                        <style>
                                            .ui-timepicker-table td a {
                                                width: 2.2em;
                                            }
                                        </style>
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Item1.StartTime, new { @class = "form-control timepicker timepicker_start" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>End time</label>
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.Item1.EndTime, new { @class = "form-control timepicker timepicker_end" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Account</label>
                            @Html.DropDownListFor(x => x.Item3.Lnk_AccountNumber, (SelectList)ViewBag.custacc, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x => x.Item1.Customer_Id)
                            @Html.HiddenFor(x => x.Item1.CustomerVehicleId)
                            @Html.HiddenFor(x => x.Item1.DaystoFuel)
                            @Html.HiddenFor(x=>x.Item3.Lnk_id)
                            @Html.HiddenFor(x=>x.Item3.Lnk_CustomerVehicleId)
                            <input type="submit" value="Save" class="btn btn-primary col-md-2 col-md-offset-5" onclick="DisableButton(this);" ondblclick="DisableButton(this);">
                        </div>
                        <div class="clearfix"></div>
                    </div>@* /.box-body *@
                }
            </div>
        </div>
        }
    }
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/plugins/jQueryTimeRange/include/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jQueryTimeRange/include/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jQueryTimeRange/include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jQueryTimeRange/include/ui-1.10.0/jquery.ui.position.min.js"></script>

    <script type="text/javascript" src="~/Content/plugins/jQueryTimeRange/jquery.ui.timepicker.js?v=0.3.3"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddCustomerVehicleFormLoad();
            $('.timepicker_start').timepicker({
                showLeadingZero: true,
                onSelect: tpStartSelect,
                maxTime: {
                    hour: 23, minute: 0
                }
            });
            $('.timepicker_end').timepicker({
                showLeadingZero: true,
                onSelect: tpEndSelect,
                minTime: {
                    hour: 0, minute: 0
                }
            });
            // Set 'Select All' to checked if all other boxes are already checked
            $('#selectAll').prop('checked', $('.check').length == $('.check:checked').length);

            // Add click function to 'Select All' to select all other boxes
            $('#selectAll').click(function () {
                $('.check').prop('checked', this.checked);
                Populate()
            });

            // Add click function to each child checkbox
            $('.check').click(function () {
                $('#selectAll').prop('checked', $('.check').length == $('.check:checked').length);
            });

            $('input[type="checkbox"]').on('change', function () {
                Populate()
            }).change();

            $("#manageVeh").addClass("active");
            $("#AddCustomerVehicle").closest("li").addClass("active");
            $(".alert").delay(2000).fadeOut(1000);
        });
        function Populate() {
            vals = $('input[type="checkbox"]:checked').map(function () {
                return this.value;
            }).get().join(',');
            $('#Item1_DaystoFuel').val(vals);
        }

        // when start time change, update minimum for end timepicker
        function tpStartSelect(time, endTimePickerInst) {
            $('.timepicker_end').timepicker('option', {
                minTime: {
                    hour: endTimePickerInst.hours,
                    minute: endTimePickerInst.minutes
                }
            });
        }

        // when end time change, update maximum for start timepicker
        function tpEndSelect(time, startTimePickerInst) {
            $('.timepicker_start').timepicker('option', {
                maxTime: {
                    hour: startTimePickerInst.hours,
                    minute: startTimePickerInst.minutes
                }
            });
        }
        function GetModels(_typeId) {
            var procemessage = "<option value=''> Please wait...</option>";
            $("#Item1_VehicleModel_Id").html(procemessage).show();
            var url = "/Customer/GetModelsFromVehicleID/";
            $.ajax({
                url: url,
                data: { id: _typeId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value=''>Please Select Model...</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option capacity=" + data[x].TankCapacity + " value=" + data[x].VehicleModel_Id + ">" + data[x].VehicleModel_Name + "</option>";
                    }
                    $("#Item1_VehicleModel_Id").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
        function GetCapacity(re) {
            $("#Item1_TankCapacity").val($('option:selected', re).attr('capacity'));
        }
    </script>
}
}
else
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i>Unauthorized Access!</h4>
        You have no permission to do this action.    
    </div>
}