@{
    ViewBag.Title = "SetupAccountUsageLimit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@model FuelCardSystemEntities.Models.Customer_AccountUsageLimit
@using FuelCardSystemMVC.Library
@if (FuelCardSystemMVC.Library.UserAuth.UserContext.Identity.roles[0] == "Admin")
{
@section header{
    <section class="content-header">
        <h1><i class="fa fa-credit-card"></i><span class="margin">Define account usage limit @(ViewBag.accno!=null?" for the Account No. "+@ViewBag.accno:"")</span><small></small></h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Customer")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="@Url.Action("CustomerAccountDetails", "Customer", new { @id=ViewBag.custid})">List of Customer Accounts</a></li>
            <li class="active">Setup Usage Limit</li>
        </ol>
    </section>
}
<div class="row">
    @if (ViewBag.msg != null)
    {
        if (ViewBag.msg == _AppContext.Messages.Success)
        {
        <div class="col-sm-12">
            <div class="alert alert-success">
                <h4><i class="icon fa fa-check"></i>Successfully saved.</h4>
            </div>
        </div>
        }
        if (ViewBag.msg == _AppContext.Messages.Error)
        {
        <div class="col-sm-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-ban"></i> Error occurred.</h4>
            </div>
        </div>
        }
        if (ViewBag.msg == _AppContext.Messages.NotExist)
        {
        <div class="col-sm-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-ban"></i> Not Exists.</h4>
            </div>
        </div>
        }
        else
        {
        <div class="col-sm-12">
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>@* /.box-tools *@
                </div>@* /.box-header *@
                <div class="overlay" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                @* form start *@
                @using (Html.BeginForm("SetupAccountUsageLimit", "Customer", FormMethod.Post, new { @id = "SetupAccUsageLimitForm", @role = "form" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label for="">Product/Service</label>
                            @Html.DropDownListFor(x => x.UsageLimit_Product_id, (SelectList)ViewBag.products, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Type of limit</label>
                            @Html.DropDownListFor(x => x.UsageLimit_Type, (SelectList)ViewBag.time, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Limit Value</label>
                            @Html.TextBoxFor(x => x.UsageLimit_Value, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5" onclick="DisableButton(this);" ondblclick="DisableButton(this);">Save</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>@* /.box-body *@
                }
            </div>
        </div>
        }
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            SetupAccUsageLimitFormLoad();
            $("#manageAccounts").addClass("active");
            $("#CustomerAccountDetails").closest("li").addClass("active");
            $(".alert").delay(2000).fadeOut(1000);
        });
    </script>
}
}
else
{
    <div class="alert alert-danger alert-dismissable">
        <h4><i class="icon fa fa-ban"></i>Unauthorized Access!</h4>
        You have no permission to do this action.    
    </div>
}