@{
    ViewBag.Title = "AddActivityType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    bool flag = false;
}
@model FuelCardSystemEntities.Models.ActivityType
@using FuelCardSystemMVC.Library
@if (Model != null && Model.ActivityType_id > 0)
{
    if (_AppContext.HasPermission(Parameters.Can_Edit_ActivityType))
    {
        flag = true;
    }
}
else
{
    if (_AppContext.HasPermission(Parameters.Can_Create_ActivityType))
    {
        flag = true;
    }
}
@if (flag)
{
    @section header{
        <section class="content-header">
            <h1><i class="fa fa-tasks"></i><span class="margin">@(Model != null ? (Model.ActivityType_id > 0 ? "Edit Activity Type" : "Add Activity Type") : "Add Activity Type")</span><small></small></h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="@Url.Action("ActivityTypeList", "Admin")">List of Activity Types</a></li>
                <li class="active">@(Model != null ? (Model.ActivityType_id > 0 ? "Edit Activity Type" : "Add Activity Type") : "Add Activity Type")</li>
            </ol>
        </section>
    }
    <div class="row">
        @if (ViewBag != null)
        {
            if (ViewBag.msg == _AppContext.Messages.Success)
            {
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <h4><i class="icon fa fa-check"></i>Successfully saved.</h4>
                </div>
            </div>
            }
            if (ViewBag.msg == _AppContext.Messages.Error)
            {
            <div class="col-sm-12">
                <div class="alert alert-danger">
                    <h4><i class="icon fa fa-ban"></i>Error occurred.</h4>
                </div>
            </div>
            }
        }
        <div class="col-sm-12">
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@(Model != null ? (Model.ActivityType_id > 0 ? "Edit Activity Type" : "Add Activity Type") : "Add Activity Type")</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>@* /.box-tools *@
                </div>@* /.box-header *@
                <div class="overlay" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                @* form start *@
                @using (Html.BeginForm("AddActivityType", "Admin", FormMethod.Post, new { @id = "AddActivityTypeForm", @role = "form" }))
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Item1_RatioToBase">Activity Type Name</label>
                            @Html.TextBoxFor(x => x.ActivityType_Name, new { @placeholder = "Activity type name", @class = "form-control", @maxlength = 50 })
                        </div>
                        <div class="" id="loading" style="display: none; position: absolute; top: 85px;">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="form-group">
                            <label for="Item1_RatioToBase">Activity description</label>
                            @Html.TextAreaFor(x => x.ActivityType_Description, new { @placeholder = "Activity type description", @class = "form-control", @maxlength = 250 })
                            @Html.HiddenFor(x => x.ActivityType_id)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5" onclick="DisableButton(this);" ondblclick="DisableButton(this);">Save</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>@* /.box-body *@
                }
            </div>
        </div>
    </div>
    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                AddActivityTypeFormLoad();
                $("#manageActivity").closest("li.treeview").addClass("active");
                $("#idAddActivityType").closest("li").addClass("active");
                $(".alert").delay(2000).fadeOut(1000);
            });
        </script>
    }
}
else
{
    <div class="alert alert-danger alert-dismissable">
        <h4><i class="icon fa fa-ban"></i>Unauthorized Access!</h4>
        You have no permission to do this action.    
    </div>
}