@{
    ViewBag.Title = "AddPriceScheduletoChannels";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
@model Tuple<FuelCardSystemEntities.Models.Lnk_Products_Channels, List<FuelCardSystemEntities.Models.Channel>>
@using FuelCardSystemMVC.Library
@if (_AppContext.HasPermission(Parameters.Can_Set_Price_Schedule_for_Channel))
{
    @section header{
        <section class="content-header">
            <h1><i class="fa fa-link"></i><span class="margin">@(Model.Item1.Lnk_Products_Channels_id > 0 ? "Edit Channel Product Price Schedule..." : "Add Channel Product Price Schedule...")</span><small></small></h1>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="@Url.Action("ChannelProductSchedulesList", "Admin")">Channel Products Schedule List</a></li>
                <li class="active">Add or Edit Channel Product Price Schedule</li>
            </ol>
        </section>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">@(Model.Item1.Lnk_Products_Channels_id > 0 ? "Edit Channel Product Price Schedule..." : "Add Channel Product Price Schedule...")</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>@* /.box-tools *@
                </div>@* /.box-header *@
                <div class="overlay" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                @* form start *@
                @using (Html.BeginForm("AddPriceScheduletoChannels", "Admin", FormMethod.Post, new { @id = "AddChannelProductsForm", @role = "form" }))
                {
                    <div class="box-body">
                        @if (Model.Item2 != null && Model.Item2.Count() > 0)
                        {
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="box box-solid box-info">
                                        <div class="box-header">
                                            <h3 class="box-title">Select Channel</h3>
                                        </div>
                                        <div class="box-body">
                                            <table id="custtypeTbl" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">
                                                            <input type="checkbox" id="selectAll" /></th>
                                                        <th style="text-align: center">Channel Name</th>
                                                        <th style="text-align: center">Channel Address</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var itm in Model.Item2)
                                                    {
                                                        <tr>
                                                            <td style="text-align: center;">
                                                                <input type="checkbox" name="chk" value="@itm.Channel_id" id="@itm.Channel_id" class="check" @(itm.Channel_IsSelected == true ? "checked='checked'" : "") />
                                                            </td>
                                                            <td>@itm.Channel_Name</td>
                                                            <td>@itm.Channel_Address</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label for="">Product</label>
                            @Html.DropDownListFor(x => x.Item1.Product_id, (SelectList)ViewBag.Products, "Select Product...", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="">Price</label>
                            @Html.TextBoxFor(x => x.Item1.Scheduled_Price, new { @placeholder = "Price", @class = "form-control" })
                        </div>
                        <div id="loading" style="display: none; position: absolute; top: 647px;">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="form-group">
                            <label for="">Currency</label>
                            @Html.DropDownListFor(x => x.Item1.Product_currency, (SelectList)ViewBag.Currency, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="">Schedule</label>
                            @Html.DropDownListFor(x => x.Item1.PriceSchedule_Id, (SelectList)ViewBag.schedule, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="">Price List</label>
                            @Html.DropDownListFor(x => x.Item1.Price_List_id, (SelectList)ViewBag.PriceList, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(x=>x.Item1.Product_Price)
                            @Html.HiddenFor(x => x.Item1.Lnk_Products_Channels_id)
                            <input type="hidden" name="hdnChannelIds" id="hdnChannelIds" />
                            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5" onclick="DisableButton(this);" ondblclick="DisableButton(this);">Save</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>@* /.box-body *@
                }
            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/Content/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="~/Content/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#Item1_Product_id").change(function () {
                    $("#loading").show();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/GetProductPrice",
                        data: "{s:'" + $("#Item1_Product_id").val() + "'}", // passing the parameter 
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            var jsonObj = result.data;
                            $("#Item1_Scheduled_Price").val(jsonObj[0].Product_Price);
                            $("#Item1_Product_currency").val(jsonObj[0].Product_currency);
                            $("#loading").hide();
                        }
                    });
                });

                AddChannelProductsFormLoad();
                AddChannelProductsFormNum();

                $("#custtypeTbl").dataTable({
                    "aaSorting": [],
                    "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }],
                    "iDisplayLength": -1,
                    "aLengthMenu": [[20, 40, 60, 80, 100, -1], [20, 40, 60, 80, 100, "All"]]
                });
                // Set 'Select All' to checked if all other boxes are already checked
                $('#selectAll').prop('checked', $('.check').length == $('.check:checked').length);

                // Add click function to 'Select All' to select all other boxes
                var oTable = $("#custtypeTbl").dataTable();
                $('#selectAll').click(function () {
                    $('input', oTable.fnGetNodes()).prop('checked', this.checked);
                    $("tr").toggleClass("bg-yellow-gradient");
                    Populate()
                });

                // Make selectAll checkbox checked if all the other checkboxes checked otherwise make it unchecked
                $('.check').click(function () {
                    $('#selectAll').prop('checked', $('.check').length == $('.check:checked').length);
                    $(this).closest("tr").toggleClass("bg-yellow-gradient");
                });

                $('input[type="checkbox"]').on('change', function () {
                    Populate()
                }).change();

                $("#managechannels").addClass("active");
                $("#ChannelProductSchedulesList").closest("li").addClass("active");
            });
            function Populate() {
                var oTable = $("#custtypeTbl").dataTable();
                vals = $("input:checked", oTable.fnGetNodes()).map(function () {
                    $(this).closest("tr").addClass("bg-yellow-gradient");
                    return this.value
                }).get().join(',');
                $('#hdnChannelIds').val(vals);
            }
        </script>
    }

}
else
{
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-ban"></i>Unauthorized Access!</h4>
        You have no permission to do this action.    
    </div>
}
