@{
    ViewBag.Title = "ProdTypeApproval";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<FuelCardSystemEntities.Models.ProductType>
@using FuelCardSystemMVC.Library

<link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

@section header{
    <section class="content-header">
        <h1><i class="fa fa-cubes"></i><span class="margin">Product Types...</span><small></small></h1>
    </section>
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-solid box-info">
            <div class="box-header">
                <h3 class="box-title">List of Newly Added Product Types</h3>
            </div>
            @*/.box-header*@
            <div id="divLoading" class="overlay" style="display: none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-body">
                <table id="prodtypesTbl" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Product Type</th>
                            <th style="text-align: center;">Product Description</th>
                            <th style="text-align: center;">Is Active</th>
                            <th style="text-align: center;">Is Deleted</th>
                            <th style="text-align: center; width: 15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr data-toggle="tooltip" class="@(item.IsAddApproved == false ? "bg-gray" : "")" title="@(item.IsAddApproved == false ? "New record added and waiting for approval" : "")">
                                <td style="text-align: center;">@item.ProductType_Name</td>
                                <td style="text-align: center;">@item.ProductType_Description</td>
                                <td style="text-align: center;">@(item.ProductType_IsActive.Equals(true) ? "Active" : "InActive")</td>
                                <td style="text-align: center;">@(item.ProductType_IsDeleted.Equals(true) ? "Deleted" : "Not Deleted")</td>
                                <td style="text-align: center;">@Html.ActionLink("Approve", "ProdTypeApproval", "Admin", new { id = item.ProductType_id, status = "apv" }, new { @class = "btn btn-success btn-sm", onClick = ("return confirm('Are you sure you want to approve " + (item.ProductType_Name) + "?')") })
                                    <a href="#@(item.ProductType_id)" role="button" class="btn btn-danger btn-sm" data-toggle="modal" data-original-title="">Reject</a>
                                
                                </td>
                                <div class="modal modal-info" id="@(item.ProductType_id)">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title">Reason for rejection...</h4>
                                            </div>
                                            @using (Html.BeginForm("ProdTypeApproval", "Admin", new { @id = item.ProductType_id }, FormMethod.Get, new { @class=""}))
                                            {
                                                <div class="modal-body">
                                                    <textarea name="reason" class="form-control"></textarea>
                                                    <input type="hidden" name="status" value="rjt" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button data-dismiss="modal" class="btn btn-outline pull-left" type="button">Close</button>
                                                    <button class="btn btn-outline" type="submit">Send</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
            @* /.box-body *@
        </div>
    </div>
</div>
@*Popup*@
<div class="modal modal-info" id="detailsModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Original Values...</h4>
            </div>
            <div class="modal-body" id="idDetails">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-outline pull-left" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@*Popup end*@

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#prodtypesTbl").dataTable({
                "aaSorting": []
            });

            $("#idProdTypes").closest("li.treeview").addClass("active");
            $("#idProdTypes").closest("li").addClass("active");
        });
        function showModal() {
            $("#detailsModel").modal("show");
        }
        function showLoader() {
            $("#divLoading").modal("show");
        }
        function hideLoader() {
            $("#divLoading").modal("hide");
        }
    </script>
}
