@{
    Layout = null;
}
@model FuelCardSystemEntities.Models.Customer
@using FuelCardSystemMVC.Library
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Loyalty Portal | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/bundles/admincss")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-page">
    @if (ViewBag.msg == _AppContext.Messages.PasswordChanged)
    {
        <div class="col-sm-12">
            <div class="alert alert-success">
                <h4><i class="icon fa fa-check"></i>Your password is saved successfully</h4>
                You may now use your new password to login. <a href="@Url.Action("Login","Customer")">Click here to login</a>
            </div>
        </div>
    }
    else if (ViewBag.msg == _AppContext.Messages.PasswordResetLinkExpired)
    {
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h4><i class="icon fa fa-ban"></i>Password link expired.</h4>
                Please contact to system admin for your password.
            </div>
        </div>
    }
    else if (ViewBag.msg == _AppContext.Messages.Error)
    {
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h4><i class="icon fa fa-ban"></i>Error occured.</h4>
                Please refresh the page to try again.
            </div>
        </div>
    }
    else if(ViewBag.msg==_AppContext.Messages.Success)
    {
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:;"><b>Reset</b> your password</a>
        </div>
        <div class="login-box-body">
            @using (Html.BeginForm("PasswordReset", "Home", new { }, FormMethod.Post, new { @class = "signin-wrapper", @id = "ResetPasswordForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Customer_Password, new { @class = "form-control", @placeholder = "New Password", @type = "password", @maxlength = "15" })
                    @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(x => x.Customer_Password, new { @class = "form-control", @placeholder = "Confirm Password", @type = "password", id = "confPassword", Name = "confPassword", @maxlength = "15" })
                    @Html.HiddenFor(x=>x.Customer_id)
                    @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Save Password</button>
                    </div>
                </div>
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/adminscript")
    <script>
        $(function () {
            ResetPasswordFormLoad();
        });
    </script>
    }
</body>
</html>
